/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: public-sans, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Heading and Logo */

h1, h2 {
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    display: flex;
    flex-direction: row;
    font-size: 250%;
    margin-left: 1%;
}