/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: public-sans, sans-serif;
    font-weight: 300;
    color: #0081A7;
    background-color: #FDFCDC;
}

/* Heading and Logo */

h1 {
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #00AFB9;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
    color: #3a3a3a;
    background: url('../images/therapy-tree-logo.png') no-repeat center center;
    background-size: contain;
}

/* Navigation Links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid #f07167;
}

.active {
    border-bottom: 1px solid #f07167;
}

/* Hero Image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/waves-crashing-sunset.jpg') no-repeat center center;
    background-size: cover;
    
    /* Animation of zoom effect on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates level of zoom for Hero Image*/
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* Cover text for Hero Image */

#cover-text, cover-text h2 {
    color: #3a3a3a;
    text-decoration: solid;
    font-size: 125%;
}

#cover-text {
    font-size: 110%;
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 15%;

    width: 950px;
    height: 200px;

    padding-top: 40px;
    padding-left: 25px;
    padding-bottom: 40px;

    background-color: rgba(253, 252, 220, 0.4);

    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 300px;

    position: absolute;
}

#cover-text li {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

#cover-text p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
}

/* About Me */

#welcome-text {
    font-family: public-sans, sans-serif;
    text-align: center;
    letter-spacing: 1px;
    margin: 20px;
    font-size: 180%;
    color: #0081a7;
}

#about-me {
    display: flex;
    height: 350px;
}

hr {
    border-top: 1px solid #f07167;
    width: 95%;
    margin: 5px 0;
}

#left-about {
    display: flex;
    padding-left: 15px;
    width: 33%;
    flex-direction: column;
}

.left-about-top {
    padding-top: 30px;
    padding-left: 15px;
    width: 90%;
    line-height: 20px;
    clear: both;
    margin-bottom: 10px;
}

.left-about-bottom {
    padding-top: 100px;
    padding-left: 15px;
    width: 90%;
    line-height: 20px;
    clear: both;
    margin-bottom: 10px;
}

#right-about {
    display: flex;
    padding-right: 15px;
    width: 33%;
    flex-direction: column;
    text-align: right;
}

.right-about-top {
    padding-top: 30px;
    padding-left: 25px;
    width: 90%;
    line-height: 20px;
    clear: both;
    margin-bottom: 10px;
}

.right-about-bottom {
    padding-top: 100px;
    padding-left: 25px;
    width: 90%;
    line-height: 20px;
    clear: both;
    margin-bottom: 10px;
}

#center-about {
    padding-top: 30px;
    width: 33%;
    justify-content: center;
    margin: 0 auto;
}

#circle-container {
    width: 230px;
    height: 230px;
    padding: 15px;
    border-style: solid;
    border-color: #0081A7;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-container-image {
    background: url('../images/about-me-rtt-therapist.jpg') no-repeat center center;
    height: 100%;
    background-size: contain;
    border-radius: 50%;
}

/* Affirmations */

#affirmations {
    height: 450px;
    width: 100%;
    overflow: hidden;
    background: #FED9B7;
    position: relative;
}

#affirmations-header {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 130%;
}

#affirmation-images-container {
    display: flex;
    justify-content: space-between;
}

#affirmation-image {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}

#affirmation-image-text {
    padding-top: 25px;
    text-align: center;
    font-size: 150%;
}